.teste {
    background-color: #D7E1E7;
    width: 750px;
    height: 350px;
    border-radius: 15px;
    padding: 50px;
    display: flex;
    margin:auto;
    margin-top:50px
}

.texto {
    margin: 50px;
    text-align: center;
    display: inline-block;
}

button {
    background-color: black;
    color: white;
    height: 35px;
    border-radius: 5px;
    display: block;
    margin:auto;
    margin-top:20px

}