.teste {
    background-color: #D7E1E7;
    width: 750px;
    height: 350px;
    border-radius: 15px;
    padding: 50px;
    display: flex;
}

.texto {
    margin-left: 50px;
    text-align: center;
}

button {
    background-color: black;
    color: white;
    height: 35px;
    border-radius: 5px;


}